body {
	background-image: url(background-compressed.gif); 
	background-repeat: no-repeat; 
	background-attachment: fixed;
	background-size: 100%;
}

a
{
	color: #0000FF;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

.disclaimer {
	font-family: Courier New, monospace;
	font-size: 12px;
}

.content
{
        width: 966px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 8px;
        padding: 15px;
        background-color: #FFFFFF;
        opacity: 0.95;
        font-family: Tahoma, Verdana, sans-serif;
        font-size: 18px;
}

.stuffcontainer {
	width: 966px;
        margin-left: auto;
        margin-right: auto;
}

.userstuff {
	border-radius: 8px;
        padding: 15px;
        background-color: #FFFFFF;
        opacity: 0.95;
        font-family: Tahoma, Verdana, sans-serif;
        font-size: 18px;
}


.spacer { 
	clear: both;
}

#body {
	width: 960px; 
	height: 600px;
	resize: none;
}

#title {
	width: 650px;
}

body, button, input, select, textarea {
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 18px;
}

.content {
	margin-left: auto;
	margin-right: auto;
	width: 966px;
}

.submissionslist {
	border-collapse: collapse;
	text-align: center;
}

.submissionslist .head {
}

.submissionslist .data .article {
	text-align: left;
}

.submissionslist .data:hover {
	background-color: #FFFF66;
}

.submissionslist tr {
	border-bottom:1px solid #DDDDDD;
}

.submissionslist td {
	vertical-align: top;
	width: 15%;
	word-wrap: break-word;	
}

.submissionslist .head .article {
	width: 40%;
}
